---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/templates/Header.astro';
import { Nav } from '@/components/organisms/Nav';
import Acerca from '@/components/templates/Acerca.astro';
import Contactos from '@/components/templates/Contacto.astro'
import Proyectos from '@/components/templates/Proyectos.astro';
import Opiniones from '@/components/templates/Opiniones.astro';
const {currentLocale} = Astro;
---

<Layout>
  <header class="relative w-full" role="banner">
  <div class="w-full lg:p-0 md:p-10 p-10">
    <Nav client:load currentLocale={currentLocale} />
  </div>
  <main role="main">
    <section class="w-full h-full">
      <div class="hero bg-base-300 min-h-screen scroll-m-4 lg:scroll-m-0 md:scroll-m-0" id="home">
        <Header />
      </div>
      <div class="hero bg-base-300 min-h-screen flex justify-center items-start scroll-m-4 lg:scroll-m-0 md:scroll-m-0" id="about">
        <Acerca />
      </div>
      <div class="hero bg-base-300 min-h-screen flex justify-center items-start scroll-m-4 lg:scroll-m-0 md:scroll-m-0" id="projects">
        <Proyectos />
      </div>
      <div class="hero bg-base-300 min-h-screen flex justify-center items-start" id="opinions">
        <Opiniones />
      </div>
      <div class="hero bg-base-300 min-h-screen scroll-m-14 lg:scroll-m-12 md:scroll-m-0" id="contact">
        <Contactos />
      </div>
    </section>
  </main>
</header>
</Layout>

