---
import Layout from '@/layouts/Layout.astro';
import Acerca from '@/components/templates/Acerca.astro';
import Footer from '@/components/templates/Footer.astro';
import { Nav } from '@/components/organisms/Nav';
const {currentLocale} = Astro
---

<Layout>
  <header class="relative w-full">
    <Nav client:load currentLocale={currentLocale}/>
    <div>
      <Acerca />
    </div>
    <Footer />
  </header>
</Layout>
