---
import { PruebaNav } from '@/components/organisms/PruebaNav'
const { currentLocale } = Astro;
---

<div class="hero-content flex w-full lg:mt-36">
    <PruebaNav client:load currentLocale={currentLocale}/>
</div>