---
import { TabsAcerca } from '@/components/organisms/TabsAcerca'
const { currentLocale } = Astro;
---

<div class="hero-content mt-16">
    <TabsAcerca client:load currentLocale={currentLocale}/>
</div>