---
import { TabsAcerca } from '@/components/organisms/TabsAcerca'
const { currentLocale } = Astro;
---

<div class="hero-content flex w-full lg:mt-36">
    <TabsAcerca client:load currentLocale={currentLocale}/>
</div>