---
import {Bubble} from '@/components/atoms/Bubble';
import { Form } from '@/components/features/contact/Form'

const { currentLocale } = Astro;
---

<div class="hero-content flex-col">
  
  <Form client:load currentLocale={currentLocale}/>
</div>