---
import { getI18N } from '@/i18n';
import Parabola from '@/components/atomos/Parabola.astro';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="hero min-h-[80vh] py-8">
  <div  class="hero-content text-center">
    <Parabola class="top-60 lg:left-[25rem] bg-gradient-to-t from-base-content via-secondary skew-x-[35deg] rotate-[2deg] shadow__skew" 
    classNameToBottom="top-60 lg:right-[25rem] bg-gradient-to-t from-base-content via-primary -skew-x-[35deg] rotate-[-2deg] shadow__skew" />
    <div id="scrolling-element" class="max-w-md fixed">
      <h1 class="text-6xl xl:text-8xl lg:text-8x1 md:text-8xl font-bold text-nowrap"> {i18n.HEADER.HEADER_TITLE} </h1>
      <span class="text-7xl xl:text-8xl lg:text-8x1 md:text-8xl leading-snug font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-accent"> 
        {i18n.HEADER.HEADER_NAME} 
      </span>
      <p class="py-5 text-xl font-semibold text-base-content z-50">
        {i18n.HEADER.HEADER_ABOUT}
      </p>
      <a 
      type="button" 
      href="#habilidades" 
      aria-label="Ir a la sección de habilidades" 
      class="btn btn-accent h-10 min-h-14 pl-6 pr-6 border-none ring-2 ring-offset-2 ring-offset-base-100 ring-accent"
    >
        <svg 
            aria-hidden="true" 
            xmlns="http://www.w3.org/2000/svg" 
            width="16"  
            height="16" 
            viewBox="0 0 24 24" 
            fill="currentColor" 
            style="--sl-icon-size: 0.5em;">
            <path 
            fill="none" 
            stroke="currentColor" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="M8.12 9.29L12 13.17l3.88-3.88a.996.996 0 1 1 1.41 1.41l-4.59 4.59a.996.996 0 0 1-1.41 0L6.7 10.7a.996.996 0 0 1 0-1.41c.39-.38 1.03-.39 1.42 0" />
          </svg> 
          {i18n.HEADER.HEADER_BUTTON} 
        </a>
    </div>
  </div>
</div>

<style>
  /* Animación basada en el scroll */
  @keyframes scroll-effect {
    0% {
      opacity: 0.6;
      transform: scale(1); 
    }
    100% {
      opacity: 0; 
      transform: scale(0.7); 
    }
  }

  #scrolling-element {
    animation: scroll-effect linear forwards;
    animation-timeline: scroll(root); 
    animation-range: 0vh 60vh;
  }

  /* Estilos adicionales */
  #scrolling-element {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
  }

  #scroll__prbla {
    animation: scroll-effect linear forwards;
    animation-timeline: scroll(root); 
    animation-range: 0vh 60vh;
  }

  #scroll__prbla {
    opacity: 0.6;
    transition: opacity 0.1s ease-in-out, transform 0.5s ease-in-out;
  }
</style>