---
// src/pages/index.astro
import { comments } from "@/db/schema";
import { db } from "@/lib/db";
import type { Testimonial } from '@/interfaces/currentLang.interface';

const data = (await db.select().from(comments).all()) as Testimonial[];

import {Testimonials} from '@/components/features/opinions/Testimonials'
const {currentLocale}  = Astro
---

<div class="hero-content mt-16">
    <Testimonials client:load currentLocale={currentLocale} data={data}/>
</div>
