---
import { TabsProyectos } from '@/components/organisms/TabsProyectos';
const { currentLocale } = Astro;
---

<div class="hero-content lg:p-9 md:p-8 sm:p-4 p-4 mt-16">
    <TabsProyectos client:load currentLocale={currentLocale}/>
</div>