---
import { TabsProyectos } from '@/components/organisms/TabsProyectos';
const { currentLocale } = Astro;
---

<div class="isolate flex w-7xl items-start justify-start gap-4 lg:p-9 md:p-8 sm:p-4 p-4 mt-16">
    <TabsProyectos client:load currentLocale={currentLocale}/>
</div>