---
import { getI18N } from '@/i18n';
import { TabsProyectos } from '@/components/organisms/TabsProyectos';



const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---
  <div class="lg:w-5/6 w-full flex-col lg:flex-row-reverse">
      <div class="grid grid-cols-1 w-full gap-6 animate__animated animate__zoomIn rounded-lg">
          <TabsProyectos client:load currentLocale={currentLocale}/>
      </div>
  </div>
