---
import { TabsProyectos } from '@/components/organisms/TabsProyectos';
const { currentLocale } = Astro;
---

<div class="hero-content mt-16">
    <TabsProyectos client:load currentLocale={currentLocale}/>
</div>