---
import { getI18N } from "@/i18n/index"
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<meta http-equiv="refresh" content={`0;url=/${i18n}/`} />

<!-- ---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/organismos/Navbar.astro';
import Header from '@/components/templates/Header.astro';
import Habilidades from '@/components/templates/Habilidades.astro';
import Footer from '@/components/templates/Footer.astro';
---

<Layout>
  <header class="relative w-full">
    <Navbar />
    <div id="header">
      <Header />
    </div>
    <div id="habilidades">
      <Habilidades />
    </div>
    <Footer />
  </header>
</Layout> -->


