---
const { class: className, classNameToBottom} = Astro.props;
---
<div class={`absolute size-80 rounded-full opacity-20 shadow-2xl shadow-primary z-[-1] blur-3xl ${className}`}></div>
<div class={`absolute size-80 rounded-full opacity-30 shadow-md shadow-primary z-[-1] blur-3xl ${classNameToBottom}`}></div>