---


---

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-lg">
        <h1 class="text-6xl font-bold">Habilidades</h1>
        <p class="py-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque tenetur itaque eos repudiandae nemo ratione sed repellat dolorem omnis nulla esse, officiis tempore error veritatis voluptatem incidunt quis totam vitae!</p>
        <button class="btn btn-primary">Empecemos</button>
      </div>
    </div>
  </div>