---
import ThemeButton from '@/components/theme/ThemeButton.astro';
import ItemsNavbar from '@/components/items/ItemsNavbar.astro';
import LangPicker from '@/components/LangPicker.astro';
import { VersionSelect } from '@/components/version/ButtonVersion';
import { ImageContrast } from '@/components/islands/ImageContrast';

const { currentLocale } = Astro;
---

<div
  class="navbar backdrop-blur-[80px] backdrop-saturate-[180%] rounded-b-lg py-5 px-5 sticky-navbar z-10"
>
  <div class="flex-grow">
    <div class="avatar flex items-center justify-center gap-4">
      <a href="#inicio" class="w-12 rounded">
        <ImageContrast client:load />
      </a>
      <VersionSelect currentLocale={currentLocale} client:load />
    </div>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal min-[980px]:flex hidden">
      <ItemsNavbar />
    </ul>
    <div class="list-none">
      <ThemeButton />
    </div>
    <div class="pl-2">
      <LangPicker />
    </div>
    <label
      for="my-drawer-4"
      class="btn btn-ghost min-[980px]:hidden drawer-button"
      aria-label="label"
    >
      <svg
        width="20"
        height="20"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </label>
  </div>
</div>

<div class="drawer drawer-end z-10">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content"></div>
  <div class="drawer-side">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"
    ></label>
    <ul
      class="menu backdrop-blur-[30px] backdrop-saturate-[180%] text-base min-h-full min-w-2.5 w-80 p-4 z-50 relative"
    >
      <label
        for="my-drawer-4"
        class="absolute top-4 right-4 text-4xl cursor-pointer z-50"
        aria-label="Close"
      >
        &times;
      </label>
      <div class="flex flex-col mt-10">
        <ul>
          <ItemsNavbar />
        </ul>
      </div>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
      document.documentElement.setAttribute('data-theme', savedTheme);
    }
    document.querySelectorAll('[data-set-theme]').forEach((button) => {
      button.addEventListener('click', () => {
        const theme = button.getAttribute('data-set-theme');
        localStorage.setItem('theme', theme);
        document.documentElement.setAttribute('data-theme', theme);
      });
    });
  });
</script>
