---
const { class: className, classNameToBottom} = Astro.props;
---

    <div class={`absolute size-80 lg:size-[700px] rounded-full shadow-2xl opacity-60 z-[-1] blur-3xl ${className}`}></div>
    <div class={`absolute size-80 lg:size-[700px] rounded-full shadow-2xl opacity-60 z-[-1] blur-3xl ${classNameToBottom}`}></div>