---

---

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-lg">
        <h2 class="text-6xl font-bold">Proyectos</h2>
       
      </div>
    </div>
  </div>