---
import { getI18N } from '@/i18n';
import Bubble from '@/components/Bubble.astro';
import { Repositorios } from '@/components/items/ItemsRepositorios';

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <Bubble
      class="lg:bottom-72 left-0 lg:left-28 bg-primary"
      classNameToBottom="top-80 right-0 lg:top-72 lg:right-24 bg-secondary"
    />
    <div class="max-w-5xl">
      <div>
        <h2 class="text-5xl md:text-6xl lg:text-7xl font-bold mt-20 mb-36">
          {i18n.PROJECTS.PROJECTS_TITLE}
        </h2>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <Repositorios currentLocale={currentLocale} client:load />
      </div>
    </div>
  </div>
</div>
