---
import ThemeButton from '@/components/moleculas/ThemeButton.astro';
import ItemsNavbar from '@/components/moleculas/ItemsNavbar.astro';
import LangPicker from '@/components/moleculas/LangPicker.astro';
import { VersionSelect } from '@/components/moleculas/ButtonVersion';
import { ImageContrast } from '@/components/moleculas/ImageContrast';
import ItemsNavrbarDrawer from '@/components/moleculas/ItemsNavrbarDrawer.astro';

const { currentLocale } = Astro;
---

<div class="navbar backdrop-blur-[20px] backdrop-saturate-[180%] rounded-b-lg py-5 px-5 sticky-navbar z-10">
  <div class="flex-grow">
    <div class="avatar flex items-center justify-center gap-4">
      <!-- <a class="w-12 rounded"> -->
        <ImageContrast client:load width="w-12" />
      <!-- </a> -->
      <!-- <VersionSelect currentLocale={currentLocale} client:load /> -->
    </div>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal min-[547px]:flex hidden">
      <ItemsNavbar />
    </ul>
    <div class="list-none">
      <ThemeButton />
    </div>
    <div class="md:w-0 sm:w-0 xl:w-8"></div>
    <!-- <div class="pl-2">
      <LangPicker />
    </div> -->
    <label for="my-drawer-4" class="btn btn-ghost min-[547px]:hidden drawer-button" aria-label="label">
      <svg 
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="currentColor" 
      viewBox="0 0 24 24" 
      class="inline-block stroke-current">
        <path 
        stroke-linecap="round"
         stroke-linejoin="round" 
         stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </label>
  </div>
</div>
<div class="drawer drawer-end z-10">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content"></div>
  <div class="drawer-side h-full">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu flex justify-center items-center bg-primary backdrop-blur-[100px] backdrop-brightness-200 min-h-screen w-full p-4 z-50 relative dark:text-white text-white">
      <li class="absolute top-3 right-6">
        <label for="my-drawer-4" class="text-4xl flex place-items-center cursor-pointer z-50" aria-label="Close">
          &times;
        </label>
      </li>
      <ItemsNavrbarDrawer />
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
      document.documentElement.setAttribute('data-theme', savedTheme);
    }
    document.querySelectorAll('[data-set-theme]').forEach((button) => {
      button.addEventListener('click', () => {
        const theme = button.getAttribute('data-set-theme');
        localStorage.setItem('theme', theme);
        document.documentElement.setAttribute('data-theme', theme);
      });
    });
  });
</script>
