---
import { dataListNavbar } from '@/utils/es/dataNavbar.astro';
import { dataListNavbarEN } from '@/utils/en/dataNavbarEN.astro';
import { dataListNavbarFR } from '@/utils/fr/dataNavbarFR.astro';

const { currentLocale } = Astro;
let dataChange;

if (currentLocale === 'es') {
    dataChange = dataListNavbar;
} else if (currentLocale === 'fr') {
    dataChange = dataListNavbarFR;
} else {
    dataChange = dataListNavbarEN;
}
---

{
  dataChange.map((list) => (
    <li>
      <a href={list.to} aria-label={`Ir a ${list.label}`}> {list.label} </a>
    </li>
  ))
}
