---
import Layout from '@/layouts/Layout.astro';
import Contactos from '@/components/templates/Contacto.astro';
import { Nav } from '@/components/organisms/Nav';
const {currentLocale} = Astro;
const currentPath = Astro.url.pathname;
---

<Layout>
  <header class="relative w-full"> 
    <Nav client:load currentLocale={currentLocale} currentPath={currentPath}/>
    <section class="w-full h-full">
      <div class="hero bg-base-300 min-h-screen">
        <Contactos>
       </div>
      </div>
    </section>
  </header>
</Layout>
