---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';
import Header from '@/components/Header.astro';
import Habilidades from '@/components/Habilidades.astro';
import Footer from '@/components/Footer.astro';
---

<Layout>
  <header class="relative w-full">
    <Navbar />
    <div id="header">
      <Header />
    </div>
    <div id="habilidades">
      <Habilidades />
    </div>
    <Footer />
  </header>
</Layout>
