---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/organisms/Navbar.astro';
import Proyectos from '@/components/templates/Proyectos.astro';
import Footer from '@/components/templates/Footer.astro';
---

<Layout>
  <header class="relative w-full">
    <Navbar />
    <div>
      <Proyectos />
    </div>
    <Footer />
  </header>
</Layout>
