---
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale} class="scroll-smooth ">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio</title>
    <meta name="description" content="Portafolio muke78" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://portafolio-vercel-deploy.vercel.app/"
    />
    <meta property="og:title" content="Web developer JR - IT Engineer" />
    <meta
      property="og:description"
      content="Portafolio de Erick Gonzalez"
    />
    <meta property="og:image" content="https://portafolio-vercel-deploy.vercel.app/kdl.webp">
    <meta property="og:site_name" content="Portafolio">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://portafolio-vercel-deploy.vercel.app/"
    />
    <meta property="twitter:title" content="Porafolio" />
    <meta
      property="twitter:image"
      content="https://portafolio-vercel-deploy.vercel.app/kdl.webp"
    />
   
    <meta name="theme-color" content="#6f37cf" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="muke78" />
    <meta name="copyright" content="Copyright © 2024" />
    <link rel="icon" type="image/svg+xml" href="/kdl.webp" />
    <!-- Canonical URL -->
    <link rel="canonical" href="https://portafolio-vercel-deploy.vercel.app/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    
  </head>
  <body class="bg-base-300">
    <slot />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
  </body>
</html>

<style is:global>
  html {
    transition:
      background-color 1s ease-out,
      color 1s ease-out;
  }

  .sticky-navbar {
    position: sticky;
    top: 0;
    height: 3px;
  }

  .shadow__cardPulse {
    box-shadow: 0px -20px 200px -400px;
    filter: drop-shadow(0 0 0.75rem);
    transition: box-shadow 3s ease-in-out;
}

.shadow__skew {
  animation: uppcolor 4s ease-in-out;
}

@keyframes uppcolor {
    0% {
        filter: blur(15rem); /* Empieza con un desenfoque alto */
    }
    50% {
        filter: blur(-20rem); /* Desenfoque moderado al llegar a la mitad */
    }
    100% {
        filter: blur(4rem); /* Llega a 0 de desenfoque al final */
    }
}

</style>
