---
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio</title>
    <meta name="description" content="Portafolio muke78" />
    <!-- <meta http-equiv="refresh" content="0;url=/es/" /> -->
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://portafolio-vercel-deploy.vercel.app/"
    />
    <meta property="og:title" content="Porafolio" />
    <meta
      property="og:description"
      content="Landing Page para proyecto de banco e inversiones online"
    />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://portafolio-vercel-deploy.vercel.app/"
    />
    <meta property="twitter:title" content="Porafolio" />
    <meta
      property="twitter:description"
      content="Landing Page para proyecto de banco e inversiones online"
    />
    <meta
      property="twitter:image"
      content="https://portafolio-vercel-deploy.vercel.app/kdl.webp"
    />
    <!-- Otros metas importantes -->
    <meta name="theme-color" content="#6f37cf" />
    <!-- Asegúrate de que el color refleje tu marca -->
    <meta name="robots" content="index, follow" />
    <!-- Cambiado a index, follow para permitir la indexación -->
    <meta name="author" content="muke78" />
    <meta name="copyright" content="Copyright © 2024" />
    <link rel="icon" type="image/svg+xml" href="/kdl.webp" />
    <!-- Canonical URL -->
    <link rel="canonical" href="https://portafolio-vercel-deploy.vercel.app/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    transition:
      background-color 0.5s ease-out,
      color 0.5s ease-out;
  }

  .hero {
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: none;
    animation-timeline: --reveal;
    animation-range: cover -50% entry 25%;
  }

  .sticky-navbar {
    position: sticky;
    top: 0;
    height: 3px;
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 10%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }
</style>
